*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-style: "微软雅黑";
    color: #000;
}
ul,li{
    list-style: none;
}
i{
 font-style: normal;
}
/* 头部 */
header{
    width: 100%;
    height: 41px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    line-height: 41px;

}
header a{
    height: 41px;
    color: #000;
    font: 14px "微软雅黑" bold;
}
header a span:first-child {
    flex-basis: 24px;
    color: #f59b92;
    font-weight: bold;
   margin-left: 5px;
}
header span:nth-child(2) {
    flex:1;
    display: flex;
    justify-content: center;
}
header a span.icon-search {
    flex-basis: 22px;
    color: #f59b92;
    font-weight: bold;
    margin-right: 5px;
}
/* 轮播图 */

.swiper-container {
    width: 100%;
    height: 142px;
    position: relative;
}  
.swiper-container img{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    display: flex;
}
.swiper-slide span {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;   
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    background-color:#8c8c8c;
}
/* tab */

.main .main-tab{
    width: 100%;
   height: 48px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #000;
}
.main-tab .active a{
    color: #ff1010;
}
.main-tab .active{
      border-bottom: 2px solid #ff1010;
     padding: 8px;
}
/* 图片列表 */

.pic-products{
    width: 100%;
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
    align-items: center;
}
.pic-products li {
    height: 197px;
    width: 48%;
   margin-bottom: 50px;
}
.pic-products li img{
    width: 100%;
   height: 100%;
}
.pic-products li {
    position: relative;

}
.pic-products li a .decoration{
    position: absolute;
    bottom: 0;
    display: flex;
   height: 36px;
   width: 100%;
background-color: #8c8c8c;
color: #fff;
opacity: 0.8;
 justify-content: center;
 align-items: center
}
.pic-products li a span.name{
    justify-content: center; 
    position: absolute;
    text-align: center;
     display: flex; 
    width: 100%;
}
/* 列表 */
.list{
    display: none;
    width: 100%;
    height: 0;
    border: 1px solid #000;
}
.list.animate{
    height: 159px;
}

.list .icon-more{
    float: right;
}
.list li{
    border-bottom: 1px solid #000;
    padding: 10px;
}
.list a{
    color: #21a6d3;
    font:14px "微软雅黑";
}
.list .icon-more {
    color: #000;
}
/* 固定导航栏 */
.fixed {
    position: fixed;
    bottom: 0;
     align-items: center;
    z-index: 20;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
  }
  /* 固定头部 */
  .fixedhead{
    position: fixed;
    top: 0; 
    z-index: 20;
  }
  .banner>.swiper-container>.swiper-pagination{
    left:140px;
  }